.login-forms {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.form {
  align-items: center;
  background: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
  width: 300px;
}

input {
  background: whitesmoke;
  border: none;
  border-bottom: 2px solid rgb(82, 82, 82);
  height: 30px;
  width: 100%;
}

.send-button {
  background-color: darkgreen;
  border: 2px inset rgba(166, 221, 166, 0.692);
  border-radius: 5px;
  color: white;
  font-size: 20px;
  height: 50px;
  width: 80%;
}

.send-button:hover {
  background: rgb(15, 161, 15);
}
